<ul>
  <li><a href="/square/new">Square with form</a></li>
  <li><a href="/square_root/new">Square Root with form</a></li>
  <li><a href="/payment/new">Payment with form</a></li>
  <li><a href="/random/new">Random with form</a></li>
</ul>

<form action="/process_roll">
  <label for="num">Enter a number</label>
  <input id="num_id" name="number">
  <button>Calculate square</button>
</form>
