<form action="/process_roll">
  <label for="apr_id">APR</label>
  <input id="apr_id" name="apr">
  <placeholder for="principal_id">E.g. 5.42</placeholder>
  <label for="years_id">Number of years?</label>
  <input id="years_id" name="years">
  <placeholder for="principal_id">How many years to repay?</placeholder>
  <label for="principal_id">Principal</label>
  <input id="principal_id" name="principal">
  <placeholder for="principal_id">How much prinicpal?</placeholder>

  <button>Calculate monthly payment</button>
</form>

