<form action="/process_roll">
  <label for="apr_id">APR</label>
  <input id="apr_id" name="apr">
  <label for="years_id">Number of years?</label>
  <input id="years_id" name="years">
  <label for="principal_id">Principal</label>
  <input id="principal_id" name="principal">
  <label for="payment_id">Payment</label>
  <input id="payment_id" name="payment">
  <button>Roll!</button>
</form>
