<form action="/random/results">
  <label for="min">Minimum</label>
  <input id="min_id" name="min">
  <label for="max">Maximum</label>
  <input id="max_id" name="max">
  <button>Pick random number</button>
</form>
