<h1>Square Results </h1>

<p>Number</p>
<%= @num %>

<p>Square</p>
<%= @num**@num %>

<a href="/square/new">
  Calculate another square
</a>


<h1>Addition</h1>

<dl>
  <dt>First number</dt>
  <dd><%= @first_num %></dd>

  <dt>Result</dt>
  <dd><%= @sum %></dd>
</dl>
